/* Base */
:root {
  --color-primary: #ffb25d;
  --color-accent: #aef1f4;
  --color-dark: #333;
  --color-white: #fff;
  --color-btn: #f89b29;
}

/* Mobile first */

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--color-dark);
}

img {
  max-width: 100%;
  display: block;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

.btn {
  padding: 0.7rem 1.5rem;
  background-color: var(--color-btn);
  color: var(--color-white);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn--light {
  background-color: var(--color-accent);
  color: var(--color-dark);
}

/* HEADER */
.header {
  background-color: var(--color-primary);
  padding: 1rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 0.9rem;
  font-weight: bold;
}

.header__nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__title span {
  color: #fff;
}

.carousel__img {
  display: none;
  max-width: 200px;
}

.carousel__img.active {
  display: block;
}

/* PRODUCTOS */
.productos > *{
    margin-top: 5px;
    margin-bottom: 5px;
}

.productos__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto ;
  gap: 2rem;
  padding: 20px;
  background-color: var(--color-accent);
  text-align: center;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.producto > *{
    margin: 5px;
}

.producto img{
    width: 50%;
    max-width: 200px;
}


@media (min-width: 768px) {
    .productos__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto ;
    }
}


/* REGLAS */
.reglas {
    padding: 20px;

    background-image: url("../assets/bg-grid.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    justify-items: center;
}

.reglas__texto{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.reglas__texto > *{
    margin-top: 5px;
    margin-bottom: 5px;
}

.reglas__imagen img{
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .reglas {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto ;
    }
}



/* FOOTER */
.footer{
    background-color: var(--color-dark);
    color: var(--color-white);

    padding: 20px;
}

.footer__nav ul {
    margin-top: 10px;
    list-style: none;
}

@media (min-width: 768px) {
  

  .header__main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__text {
    width: 50%;
  }

  .header__carousel {
    width: 50%;
    text-align: right;
  }
}
